*.pyc
.DS_Store
/nbproject/private/
/nbproject/
/wordpress/wp-includes/
/wordpress/readme.html
/wordpress/wp-signup.php
/wordpress/index.php
/wordpress/wp-config.php
/wordpress/wp-login.php
/wordpress/wp-blog-header.php
/wordpress/wp-cron.php
/wordpress/xmlrpc.php
/wordpress/wp-config-sample.php
/wordpress/wp-mail.php
/wordpress/wp-trackback.php
/wordpress/wp-links-opml.php
/wordpress/wp-load.php
/wordpress/wp-settings.php
/wordpress/wp-comments-post.php
/wordpress/wp-activate.php
/wordpress/license.txt
/wordpress/wp-admin/
/wordpress/wp-content/index.php
/wordpress/wp-content/plugins/
/wordpress/wp-content/themes/twentyeleven/
/wordpress/wp-content/themes/twentytwelve/
/wordpress/.htaccess