/*
Stylesheet for the extinction continuum
*/
            #continuum-container{
                width: 790px;
                margin: 0 auto 1.5em auto;
                position: relative;
                background: #fff;
                border: 1px solid #ccc;
            }
            #continuum-container h1{
                color: #fff;
                background: #000;
                font: normal 19px Helvetica, Arial, sans-serif;
                padding: 4px 0;
                letter-spacing: 1px;
                text-align: center;
                text-shadow: none;
            }
            #continuum-container h2{
                color: #fff;
                background: #b0b0b0;
                font: normal 19px Helvetica, Arial, sans-serif;
                padding: 4px 0;
                letter-spacing: 1px;
                text-align: center;
                text-shadow: none;
                margin-top: 10px;
            }
            .qtip-title em{
                display: inline-block;
                margin-left: 4px;
            }
            .qtip-content h3{
                margin: 10px 0 3px;
                font: normal 14px Helvetica, Arial, sans-serif;
            }
            #continuum-container ul#biotech-list{
                overflow: hidden;
                margin-bottom: 0;
            }
            #continuum-container ul#biotech-list li{
                width: 40%;
                margin-left: 10%;
                float: left;
                font: normal 16px Helvetica, Arial, sans-serif;
                padding: 4px 0;
            }
            #continuum-container #species-map{
                position: absolute;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 171px;
            }
            #continuum-container #species-container{
                height: 171px;
                margin-top: -70px;
                position: relative;
            }
            #continuum-container .species-hover{
                position: absolute;
                z-index: 100;
                opacity: .8;
            }
            #continuum-container #species-bat{
                background: url(../ui/continuum/species-bat.png) no-repeat;
                width: 21px;
                height: 20px;
                left: 174px;
                bottom: 83px
            }
            #continuum-container #species-bucardo{
                background: url(../ui/continuum/species-bucardo.png) no-repeat;
                width: 45px;
                height: 63px;
                left: 358px;
                bottom: 4px;
            }
            #continuum-container #species-dinosaur{
                background: url(../ui/continuum/species-dinosaur.png) no-repeat;
                width: 129px;
                height: 47px;
                left: 662px;
                bottom: 4px;
            }
            #continuum-container #species-dodo{
                background: url(../ui/continuum/species-dodo.png) no-repeat;
                width: 42px;
                height: 45px;
                left: 394px;
                bottom: 0px;
            }
            #continuum-container #species-ferret{
                background: url(../ui/continuum/species-ferret.png) no-repeat;
                width: 35px;
                height: 13px;
                left: 103px;
                bottom: 4px;
            }
            #continuum-container #species-frog{
                background: url(../ui/continuum/species-frog.png) no-repeat;
                width: 13px;
                height: 8px;
                left: 251px;
                bottom: 4px;
            }
            #continuum-container #species-frog2{
                background: url(../ui/continuum/species-frog2.png) no-repeat;
                width: 12px;
                height: 17px;
                left: 266px;
                bottom: 9px;
            }
            #continuum-container #species-giraffe{
                background: url(../ui/continuum/species-giraffe.png) no-repeat;
                width: 147px;
                height: 135px;
                bottom: 1px;
                left: 1px;
            }
            #continuum-container #species-honeycreeper{
                background: url(../ui/continuum/species-honeycreeper.png) no-repeat;
                width: 22px;
                height: 15px;
                left: 240px;
                bottom: 83px;
            }
            #continuum-container #species-honeycreeper2{
                background: url(../ui/continuum/species-honeycreeper2.png) no-repeat;
                width: 20px;
                height: 21px;
                left: 228px;
                bottom: 97px;
            }
            #continuum-container #species-houbara{
                background: url(../ui/continuum/species-houbara.png) no-repeat;
                width: 26px;
                height: 23px;
                left: 30px;
                bottom: 4px;
            }
            #continuum-container #species-macrauchenia{
                background: url(../ui/continuum/species-macrauchenia.png) no-repeat;
                width: 97px;
                height: 65px;
                left: 595px;
                bottom: 3px;
            }
            #continuum-container #species-mammoth{
                background: url(../ui/continuum/species-mammoth.png) no-repeat;
                width: 229px;
                height: 146px;
                left: 380px;
                bottom: -2px;
            }
            #continuum-container #species-pigeon{
                background: url(../ui/continuum/species-pigeon.png) no-repeat;
                width: 30px;
                height: 28px;
                left: 400px;
                bottom: 138px;
            }
            #continuum-container #species-pigeon2{
                background: url(../ui/continuum/species-pigeon2.png) no-repeat;
                width: 35px;
                height: 23px;
                left: 370px;
                bottom: 120px;
            }
            #continuum-container #species-przewalski{
                background: url(../ui/continuum/species-przewalski.png) no-repeat;
                width: 103px;
                height: 76px;
                bottom: 2px;
                left: 110px;
            }
            #continuum-container #species-rhino{
                background: url(../ui/continuum/species-rhino.png) no-repeat;
                width: 147px;
                height: 80px;
                left: 210px;
                bottom: 0px;
            }
            #continuum-container #species-sloth{
                background: url(../ui/continuum/species-sloth.png) no-repeat;
                width: 93px;
                height: 133px;
                left: 538px;
                bottom: -5px;
            }
            #continuum-container #species-wallaby{
                background: url(../ui/continuum/species-wallaby.png) no-repeat;
                width: 34px;
                height: 19px;
                left: 320px;
                bottom: 3px;
            }
            #continuum-container #species-wildcat{
                background: url(../ui/continuum/species-wildcat.png) no-repeat;
                width: 33px;
                height: 17px;
                left: 70px;
                bottom: 3px;
            }
            
            #continuum-container #heading-container{
                overflow: hidden;
            }
            #continuum-container #heading-container div{
                height: 180px;
                background: #1e5799; /* Old browsers */
                background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                border-right: 2px solid #fff;
                float: left;
                color: #fff;
                text-align: center;
                font-size: 17px;
                font-family: Helvetica, Arial, sans-serif;
                padding-top: 10px;
            }
            #continuum-container #heading-container #endangered-col{
                width: 120px;
            }
            #continuum-container #heading-container #critically-col{
                width: 240px;
            }
            #continuum-container #heading-container #extinct-col{
                border-right: none;
                width: 426px;
            }
            
            #continuum-container #status-container{
                overflow: hidden;
                margin-top: -4px;
                z-index: 1000;
                position: relative;
            }
           #continuum-container #status-container > div{
                height: 40px;
                position: relative;
            }
            #continuum-container #status-container > div > span{
                font: normal 12px sans-serif;
                line-height: 40px;
                display: inline-block;
                text-align: center;
                float: left;
            }
            
            #continuum-container .arrow-right {
                width: 0; 
                height: 0; 
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid #c02126;
                position: absolute;
                right: -20px;
                top: 0;
                z-index: 9999;
            }
            #continuum-container .arrow-left {
                width: 0; 
                height: 0; 
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent; 
                border-right: 20px solid #136735; 
                position: absolute;
                left: -20px;
                top: 0;
                z-index: 9999;
            }
            
            #continuum-container #declining-box{
                height: 40px;
                width: 45%;
                float: left;
                background: #c02126;
            }
            #continuum-container #declining-box span{
                width: 33%;
                color: #fff;
            }
            #continuum-container #declining-box .arrow-start{
                border-left-color: #fff;
                left: 0;
            }
            
            
            #continuum-container #degrading-box{
                height: 40px;
                width: 37%;
                float: left;
                background: #e28888; /* Old browsers */
                background: -moz-linear-gradient(left,  #e28888 0%, #c02126 27%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e28888), color-stop(27%,#c02126)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  #e28888 0%,#c02126 27%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  #e28888 0%,#c02126 27%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  #e28888 0%,#c02126 27%); /* IE10+ */
                background: linear-gradient(to right,  #e28888 0%,#c02126 27%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e28888', endColorstr='#c02126',GradientType=1 ); /* IE6-9 */
                color: #fff;
            }
            #continuum-container #degrading-box span{
                width: 100%;
            }
            #continuum-container #nodna-box{
                height: 40px;
                width: 123px;
                float: left;
                background: #afafaf; /* Old browsers */
                background: -moz-linear-gradient(left,  #afafaf 0%, #000000 27%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#afafaf), color-stop(27%,#000000)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  #afafaf 0%,#000000 27%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  #afafaf 0%,#000000 27%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  #afafaf 0%,#000000 27%); /* IE10+ */
                background: linear-gradient(to right,  #afafaf 0%,#000000 27%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
                color: #fff;
            }
            #continuum-container #nodna-box span{
                width: 100%
            }
            #continuum-container #nodna-box .arrow{
                border-left-color: #000;
            }
            #continuum-container #recovering-box{
                height: 40px;
                width: 25%;
                float: left;
                margin-left: 20px;
                background: #136735; /* Old browsers */
                background: -moz-linear-gradient(left,  #136735 74%, #82c17e 99%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(74%,#136735), color-stop(99%,#82c17e)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  #136735 74%,#82c17e 99%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  #136735 74%,#82c17e 99%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  #136735 74%,#82c17e 99%); /* IE10+ */
                background: linear-gradient(to right,  #136735 74%,#82c17e 99%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136735', endColorstr='#82c17e',GradientType=1 ); /* IE6-9 */
                color: #fff;
            }
            #continuum-container #recovering-box span{
                width: 80%;
            }
            #continuum-container #reintroduction-box{
                height: 40px;
                width: 20%;
                float: left;
                background: #136735; /* Old browsers */
                background: -moz-linear-gradient(left,  #136735 74%, #82c17e 99%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(74%,#136735), color-stop(99%,#82c17e)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  #136735 74%,#82c17e 99%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  #136735 74%,#82c17e 99%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  #136735 74%,#82c17e 99%); /* IE10+ */
                background: linear-gradient(to right,  #136735 74%,#82c17e 99%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136735', endColorstr='#82c17e',GradientType=1 ); /* IE6-9 */
                color: #fff;
            }
            #continuum-container #reintroduction-box span{
                width: 80%;
            }
            #continuum-container #revivable-box{
                height: 40px;
                width: 30%;
                float: left;
                background: #136735; /* Old browsers */
                background: -moz-linear-gradient(left,  #136735 48%, #ffffff 99%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(48%,#136735), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  #136735 48%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  #136735 48%,#ffffff 99%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  #136735 48%,#ffffff 99%); /* IE10+ */
                background: linear-gradient(to right,  #136735 48%,#ffffff 99%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136735', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

                color: #fff;
            }
            #continuum-container #revivable-box span{
                width: 80%;
            }